html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
select {
	width: 100%;
}
#map {
	height: calc(100% - 170px);
}
#collapse-button {
	position: absolute;
	top: 10px;
	left: 114px;
	z-index: 99;
	border-bottom-left-radius: 2px;
	border-top-left-radius: 2px;
	width: 100px;
	height: 29px;
	font-size: 11px;
font-family: "Roboto", Arial, sans-serif;
}
#floating-panel {
	position: fixed;
	height: 170px;
	left: 0%;
	right: 0%;
	bottom: 0%;
	padding: 5px;
	font-family: "Courier New", Courier, monospace;
	font-size: 14px;
	line-height: 20px;
	background-color: #fff;
	z-index: 5;
	text-align: left;
}
#info {
	font-size: 28px;
	text-align: right;
}
.panel-box {
	display: inline-block;
	vertical-align: top;
	width: 24.4%;
}
.list-group-item {
	padding: 5px 5px;
	width: 100%;
}
.btn {
	padding: 5px 5px;
	width: 22%;
	font-size: 14px;
}
.custom-select {
	height: 30px;
}
.form-control {
	padding: 2px 5px;
	font-size: 14px;

}
